<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'images/fav_icon.png' %}" rel="shortcut icon">
    <title>Teacher's Day 2018 - UIT Burdwan</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/custom_css.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto" rel="stylesheet">
    <!--@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto');-->


    <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

        html,
        body {
            height: 100%;
            margin: 0;
        }

        .margin-fix {
          margin-bottom: -20px;
        }

        mark {
          background: yellow;
        }

    </style>

</head>

<body>
    <ul id="slide-out" class="sidenav">
        <li><a class="waves-effect" href="../"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="../about"><i class="material-icons">filter_vintage</i>Team Behind</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="../feedback"><i class="material-icons">book</i>Feedback</a></li>
        <li><a class="waves-effect" href="../about#contact"><i class="material-icons">call</i>Contact us</a></li>
    </ul>
    <nav class="transparent navbar-fixed-top" role="navigation">
        <div class="nav-wrapper container-fluid">
            <a id="logo-container" href="../" class="brand-logo"><img src="{% static 'images/brand_icon.png' %}" style="height: 100px; width:550px;" /></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="http://uit.buruniv.ac.in">Home</a></li>
                <li><a href="#">Team Behind</a></li>
                <li><a href="../app_download/#contact-page">Contact us</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="row parallax-window pad pad-down" data-parallax="scroll" data-image-src="{% static 'images/44261.jpg' %}">
        <div class="col-md-12 col-sm-12 text-center">
            <h1 class="head-banner-text-big light-green-text text-accent-3 small-pad">Happy Teacher's Day 2018</h1>
            <h5 class="col s12 light banner-text text-white">We, the students of Computer Science and Engineering Department, University Institute of Technology <br /> The University of Burdwan are proud to have such benevolent and hardworking faculty in our Institute. <br /> We are honoured by the devotion towards this Knowledge charity.
            </h5>
        </div>
        <br><br><br><br>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row small-pad">
                <div class="col s12 m12">
                    <h1 class="head-banner-text text-center"><i class="fa fa-spin fa-lg fa-sun-o fa-pad" style="color: yellow;"></i>Schedule<i class="fa fa-lg fa-moon-o fa-pad" style="color: #808080;"></i></h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up Supply Chain</h5>

                        <p class="light">We absorb the extra food from the kitchens, hotels and canteens at very less time, with all care taken. We bring them for quality testing and within minutes supply them to the needy in the close vicinity. We have also optimised
                            NGOs by supplying them food at blazing fast rate while maintaining the food's hygiene.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">We value our volunteers and end users who form a crucial part of this mission. We understand what hunger means. Thus, we make every attempt to reach your location within 25 minutes of order. We do have some emotional surprises
                            for our donors.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Workflow Strategy</h5>

                        <p class="light">Thank you for your interest in knowing our workflow. In short, you can assume, we are trying to put together he blazing speed of internet and its reachability to cater hunger prone segment by bridging them with economically stable
                            segment of our society.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row parallax-window pad pad-down" data-parallax="scroll" data-image-src="{% static 'images/1375.jpg' %}">
        <div class="col-m-12 col-sm-12 pad text-center pad-down">
            <h5 class="head-banner-text col s12 light-green-text text-accent-3">Had a party at home, today ? Give us a missed call or fill a form <a style="color: #6cef26;" href="#">here</a> !</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <h5 class="head-banner-text small-pad">Contest Alert</h5>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <a class="twitter-timeline" data-lang="en" data-height="350" data-dnt="true" data-theme="light" data-chrome="nofooter" href="https://twitter.com/dev_biswajeet?ref_src=twsrc%5Etfw">Tweets with #uitbu</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-6 col-sm-6 text-center borderify-login">
            <div class="col s10">
                <h5 class="pad light banner-text">This Teacher's Day calls for rich, thrilling and entertaining spirit of the you students. Grab your phone and make cool tweets with <mark>#uitbu</mark> and we will be announcing the best tweet at the end of the event. There are cool exciting goodies for the winner !</h5>
            </div>
        </div>
    </div>

    <div class="row parallax-window pad margin-fix" data-parallax="scroll" data-image-src="static/images/1920.jpg">
        <div class="col-md-12 col-sm-12 text-center pad-down">
            <h1 class="head-banner-text pad-extra white-text">Together, we can make a difference !</h1>
        </div>
    </div>

    <footer class="row purple margin-fix lighten-1">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4 text-center pad-foot">
          Made with <i class="fa fa-lg fa-heart fa-pad" style="color: red;"></i> , <i class="fa fa-lg fa-coffee fa-pad" style="color: brown;"></i> and <i class="fa fa-lg fa-code fa-pad" style="color: blue;"></i>  by Biswajit Roy.
        </p>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
</body>

</html>
